* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

/* Placement/main */

main {
    height: 100%;
    max-width: 67%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: lightgrey;
}

/* Header/Footer */

body {
    font-family: Arial;
    margin: 0;
}

.header {
    padding: 60px;
    text-align: center;
    background: #cf8531;
    color: white;
    font-size: 30px;
}


footer {
    font-style: oblique;
    color: #111;
    padding-top: 2em;
    margin-top: 2em;
    margin-bottom: 0em;
    background-color: #cf8531;
    padding-bottom: 2em;
    padding-left: 0.5em;
}

/* Navbar */

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navlist {
    float: left;
}

.navlist a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navlist a:hover {
    background-color: #111;
}

/* Page Content */
.content {
    padding:20px;
}

/* Typografi */

p {
    line-height: 2;
}

h2 {
    text-align: center;
    padding-bottom: 1em;
}

.about {
    float: right;
    display: block;
    position: relative;
    width: 100%;
    max-width: 600px;
    height: auto;
}

.cards {
    width: 120px;
    height: 170px;
}

.cardlist {
    display: flex;
    width: 100%;
    margin: auto;
    max-width: 1000px;
    justify-content: space-between;
    text-align: center;
    list-style-type: none;
}

.cardlister {
    cursor: pointer;
    padding: 1rem;
}

.cardlister a {
    text-decoration: none;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
}

.cardlister:hover {
    background-image: url('https://assets.webiconspng.com/uploads/2017/09/Buttons-PNG-Image-37238.png');
    background-size: 100% 100%;
    animation: spring 300ms ease-out;
    text-shadow: 0 -1px 0 #bb9b6e;
    font-weight: bold;
}

.cardlister:active {
    transform: translateY(4px);
}

.space {
    display: block;
    margin-bottom: 30px;
    padding: 5px;
    border: #000000 solid;
}