
{% include 'main.html.twig' %}

<body>

    <div class="content">
        {% for i in hand %}
            <img class="cards" src="{{ asset(i) }}" alt="two of hearts">
        {% endfor %}
        
    </div>
    
</body>

{% include 'footer.html.twig' %}
