{% include 'main.html.twig' %}

<body>

    <div class="content">
        <p>Detta är en default sida, om du kommit hit! Kom ihåg vad du tänkte göra och gör det!</p>
        <br>
        <h4>Psst! Det finns fyra scenarion varför du hamnade där.</h4>
        <ul>
        <li>Du är påväg att söka efter /:number</li>
        <li>Du är påväg att söka efter /:player/:number</li>
        <li>Du har angett ett för stort antal personer till antal kort i kortleken.</li>
        <li>Du har angett ett för stort antal kort till personer än antal kort i kortleken.</li>
        </ul>
    </div>
    
</body>

{% include 'footer.html.twig' %}
