{% include 'main.html.twig' %}


<body>

    <div class="content">
        <p>Cards left: {{ amount }}</p>
        <img class="cards" src="{{ asset(hand) }}" alt="two of hearts">
    </div>
    
</body>

{% include 'footer.html.twig' %}
