{% include 'main.html.twig' %}


<body>

    <div class="content">
        <form method="post">
            <fieldset>
            <legend>A dice hand</legend>

            <button>
                <input type="submit" name="roll" value="Roll">
            </button>

            </fieldset>
        </form>
        
    </div>
    
</body>

{% include 'footer.html.twig' %}