{% include 'main.html.twig' %}

<body>

    <div class="main" role="main">
        <img src="{{ ('images/oophp.png') }}" alt="Picture from hike" width="700" height="300">
        <h4>{{ kursnamn }} {{ kurskod }}</h4> 
        <h3><a href="https://github.com/dbwebb-se/mvc">Kursrepo</a></h3>
        <p> {{ om }} </p>
    </div>
    
</body>

{% include 'footer.html.twig' %}
