{% include 'main.html.twig' %}

<body>

    <div class="content">
        <h2>{{metrics}}</h2>
        <br>
        <h4>Introduktion</h4>
        <br>
        <p>
        Kod <b>Converage</b> beskriver hur mycket kod som har blivit läst under ett test. Exempelvis om det finns 1000 rader kod och kodtäckningen är 80%.
        Betyder det att 200 av dem 1000 raderna har inte blivit läst av testet. Koden är då inte optimerad att all kod "används". Det vill säga att dem 200
        raderna kan vara överflödig kod.
        
        
        </p>
        <br>
        <h4>Scrutinizer</h4>
        <br>
        <p></p>
        <br>
        <h4>Förbättringar</h4>
        <br>
        <p></p>
        <br>
        <h4>Diskussion</h4>
        <br>
        <p></p>
        <br>
    </div>
    
</body>

{% include 'footer.html.twig' %}
