<!DOCTYPE html>
<html>
    <main>
        <head>
            <meta charset="UTF-8">
            <title>{% block title %}anbj21{% endblock %}</title>
            <link rel="stylesheet" href="css/style.css"/>
        </head>
        <header>
            <div class="header">
                <h1>Välkommen till mitt Ramverk!<h1>
            </div>

            <div id="sidebar">
                {% block sidebar %}
                    <ul>
                        <li><a href="{{ url("home") }}">Hem</a></li>
                        <li><a href="{{ path("about") }}">Om</a></li>
                        <li><a href="{{ path("report") }}">Rapport</a></li>
                    </ul>
                {% endblock %}
            </div>
        </header>

