{% include 'main.html.twig' %}

<body>

    <div class="content">
        <h2>Om mig</h2>
        <img src="{{ ('images/outdoor.png') }}" alt="Picture from hike" width="600" height="700">
        <h2>V채lkommen!</h2>
        <p> Mitt namn 채r {{ name }} och jag 채r {{ age }} 책r. {{ about }}
    </div>
    
</body>

{% include 'footer.html.twig' %}
