{% include 'main.html.twig' %}

<body>

    <div class="main" role="main">
        <img src="{{ ('images/outdoor.png') }}" alt="Picture from hike" width="600" height="700">
        <h4>Mitt namn är {{ name }} och jag är {{ age }}</h4>
        <p> {{ about }}
    </div>
    
</body>

{% include 'footer.html.twig' %}
