{% include '/project/main.html.twig' %}

    <body>

        <div class="content">
            <h2>Lägg till bok</h2>

            <form method="post">
                <label>
                    Middle temp:
                </label>
                <input type="text" name="middle_temp">
                <label>
                    Year:
                </label>
                <input type="text" name="year">
                <input type="submit" value="Create">
            </form>
        </div>
        
    </body>

{% include 'footer.html.twig' %}
