{% include '/project/main.html.twig' %}

<body>

    <div class="content">
        <h2>Poker</h2>
        <h3>Du har satsat: {{ bet }} kr</h3>
        <div class="space">
            {% if hand is not null %}
                {% for i in hand %}
                    <img class="cards" src="{{ asset(i) }}" alt="two of hearts">
                {% endfor %}
            {% endif %}
                <form method="POST">
                    <input type="checkbox" name="box0" value="1">
                    <input type="checkbox" name="box1" value="2"> 
                    <input type="checkbox" name="box2" value="3">
                    <input type="checkbox" name="box3" value="4">
                    <input type="checkbox" name="box4" value="5">
                    <input type="submit" value="submit">  
                </form>  
            </div>
    </div>
    
</body>

{% include 'footer.html.twig' %}
